@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1f242d;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #e3e3e3;
    text-decoration: none;
}

.navbar {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-family: monospace;
    background: #1f242d;

}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
    font-family: monospace;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #7cf03d;
}

.home {
    display: flex;
    justify-content: center;
    font-family: monospace;
    align-items: center;
    height: 100vh;
    padding: 100px 9% 0;
    color: #fff;
    
}
/* typer wtiter effect */
.home-info {
    display: inline-block;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 6s steps(49, end),
        cursor .5s step-end infinite alternate;
}

/* make cursor blink */
@keyframes cursor {
    50% { border-color: transparent }
}

/*typing effect */
@keyframes typing {
    from { width: 0} 
}

.home-info h1 {
    text-align: center;
    font-size: 55px;
    font-family: monospace;

}

.home-info h2 {
    text-align: center;
    font-size: 32px;
    margin-top: -10px;
    font-family: monospace;

}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: purple;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #7cf03d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

/* for future social media buttons
.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}*/

.about__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 10%;
}


.about__content-main {
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.about__content-skills {
    text-align: center;
}


.skills__skill {
    display: inline-block;
    background-color: #e3e3e3;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    font-weight: bold;
}

.about__content-main {
    color: #e3e3e3;
}

.about__content-title-skills {
    color: #e3e3e3
}

.about__content-title-certificaitons {
    color: #e3e3e3;
}

.working-on-sec-pad {
    padding: 120px;
}

.working-on-title {
    display: flex;
    justify-content: space-around;
    color: #e3e3e3;
    
}

.working-on-par {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align:left;
    color: #e3e3e3;
}

.footer-contanier {
    background-color: black;
    padding: 80px;
    color: #e3e3e3;

}

.about__content-details {
    text-align: left;
}
